data/origional
data/splitted
axon-env/
notebooks/
outputs/analysis/
outputs/metrics/
outputs/pre_visualization/
outputs/training_logs/
models/tb
models/ihc
models/mixed

# Ignore Python cache files recursively
__pycache__/
*.pyc
*.pyo
*.pyd