data/origional/data2
/data/origional/data2ihc
# Include file /data/origional/empty.txt to keep the folder in git
!data/origional/empty.txt
data/splitted
axon-env/
notebooks/
outputs/analysis/
outputs/metrics/
outputs/pre_visualization/
outputs/training_logs/
outputs/figures/
models/tb
models/ihc
models/mixed

# Ignore Python cache files recursively
__pycache__/
*.pyc
*.pyo
*.pyd